@import "./theme/default-css-variables.css";

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide Chrome's translation and suggestion UI */
.goog-te-banner-frame,
.goog-te-menu-frame,
.chrome-search-suggestion,
.translate-infobar,
.goog-te-gadget {
    display: none !important;
}

/* Hide Google Translate widget completely */
#google_translate_element {
    display: none !important;
}