.root {
  position: relative;
}

.input {
  min-height: 64px;

  padding-top: var(--mantine-spacing-lg) !important;
}

.input::placeholder {
  font-size: var(--mantine-font-size-sm) !important;
  color: var(--mantine-color-gray-5);
}

.label {
  position: absolute;
  pointer-events: none;
  font-size: var(--mantine-font-size-xs) !important;
  padding-left: var(--mantine-spacing-md) !important;
  padding-top: calc(var(--mantine-spacing-sm) / 2) !important;
  z-index: 1;
  color: var(--mantine-color-gray-6);
}
