@import "tailwindcss";
@import "@heroui/styles";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

/* Hide scrollbar but keep scrollability */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
