.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listItem {
    margin-bottom: var(--ce-space-8);
    padding: 0;
    display: flex;
}

.listItem>* {
    display: block;
    width: 100%;
    flex: 1;
}